<td>Geografia</td>
@if (Model.PrimeiroBi == null)
{
    <td class="text-center">-</td>
}
else
{
    <td class="text-center">@Model.PrimeiroBi.Geografia</td>
}
@if (Model.SegundoBi == null)
{
    <td class="text-center">-</td>
}
else
{
    <td class="text-center">@Model.SegundoBi.Geografia</td>
}
@if (Model.TerceiroBi == null)
{
    <td class="text-center">-</td>
}
else
{
    <td class="text-center">@Model.TerceiroBi.Geografia</td>
}
@if (Model.QuartoBi == null)
{
    <td class="text-center">-</td>
}
else
{
    <td class="text-center">@Model.QuartoBi.Geografia</td>
}
